*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand
{
    font-weight: bold;
}

header
{
    background-color: black;
    color: white;
}




/* header .list-inline-item
{
    font-weight: bold;
}

header .fa-list
{
    display: none;
} */

header .navbar-toggler .navbar-toggler-icon
{
    border-color: white;
    color: white;
    background-color: white;
}

header .nav-link
{
    font-weight: bold;
}

header .nav-link:hover
{
    border-bottom: 1px solid cyan;
}


header .fa-list
{
    display: none;
}

#Home
{
  
    padding-bottom: 45px;
    background-color: black;

}    

#Home .hi
{
 font-size: 45px;
 font-weight: bold;
 color: white;
}

#Home #parent
{
  font-size: 25px;
  color: cyan;
  font-weight: bold;
}

/* #Home .parent 
{
    position: relative;
}

#Home .parent .web
{
 font-size: 25px;
 color: cyan;
 font-weight: bold;
 position: absolute;
 opacity: 0;
 animation: text  ease-in-out;
 animation-iteration-count: infinite;
 animation-duration: 10s;
}

@keyframes text
{
 50%
 {
    opacity: 1;
 }  
 100%
 {
    opacity: 0;
 }  
}

#Home .web:nth-child(1)
{
    animation-delay: 0s;
}

#Home .web:nth-child(2)
{
    animation-delay: 6s;
}

#Home .web:nth-child(3)
{
    animation-delay: 6s;
} */



#Home .lo
{
    color: white;
}

#Home .btn
{
  border-color: rgb(163, 11, 117);
  background: linear-gradient(to right,rgb(163, 11, 117),cyan);
  /* color: skyblue; */
  margin-right: 20px;
  width: 40%;
  color: white;
}

#Home .btn:hover
{
    background-color: white;
    color: black;
}

#Home .btn1
{
  border-color: cyan;
  /* background: linear-gradient(to right,rgb(163, 11, 117),cyan); */
  /* color: skyblue; */
  margin-right: 20px;
  width: 40%;
  height: 9%;
  border-radius: 5px;
  background-color: black;
  color: white;
}

#Home .btn1:hover
{
    background-color: cyan;
    color: black;
}



#Home img
{
    border: 5px solid cyan;
    /* border: 3px solid; */
    /* border-color:#c329a2; */
    height: 500px;
    width: 480px;
    /* padding-left: 150px; */
 
    margin-left: 15%;
    background-color: white;
}







#about #priya
{
  
    animation-name: appear;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    /* animation-delay: 5s; */
}

@keyframes appear
{
    from{
        opacity: 0;
        transform: scale(0.5);
    }

    to
    {
        opacity: 1;
        transform: scale(1);
    }
}



#about
{
    /* background-color: rgb(3, 3, 15); */
    /* background-color: rgba(2, 2, 15, 0.904); */
    background-color: rgba(0, 0, 0, 0.932); 
    padding-bottom: 60px;
}

#about h1
{
    color: white;
    font-weight: bold;
    /* border-bottom: 3px solid grey; */
    /* border-bottom: 1px solid orangered; */
    
}


#about img
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid white;

   
}

#about p
{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#about .para
{
    font-size: 13px;
}

#about .read
{
    height: 40px;
    width: 150px;
    font-weight: bold;
    border-radius: 15px;
    border: 2px solid;
    border-color: rgb(163, 11, 117);
    background: linear-gradient(to right,rgb(163, 11, 117),cyan);
    box-shadow: 5px 5px 10px rgb(163, 11, 117);
    color: white;
}

#about .read:hover
{
    background: cyan;
    color: black;
    
}




#education #slow
{
  
    animation-name: appear;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

}

@keyframes appear
{
    from{
        opacity: 0;
        transform: scale(0.5);
    }

    to
    {
        opacity: 1;
        transform: scale(1);
    }
}





#education 
{
    background-color: black;
    padding-bottom: 50px;
}

#education h2
{
    color: white;
    border-bottom: 1px solid cyan;
}

#education .bord
{
    color: white;
    border: 1px solid cyan;
    padding-left: 10px;
    border-radius: 10px;
}

#education .hisi
{
    margin-bottom: 10px;
    font-weight: bold;
}

#education .bord1
{
    color: white;
    border: 1px solid cyan;
    padding-left: 10px;
    text-align: center;
    border-radius: 10px;
}





#skill
{
    background-color: rgba(0, 0, 0, 0.932); 
    color: white;
    font-weight: bold;
    padding-bottom: 50px;
}




#skill #dhan
{
  
    animation-name: appear;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    /* animation-delay: 5s; */
}

@keyframes appear
{
    from{
        opacity: 0;
        transform: scale(0.5);
    }

    to
    {
        opacity: 1;
        transform: scale(1);
    }
}


#skill h1
{
    border-bottom: 1px solid cyan;
}





#skill .skill .skill-bar
{
    background-color: black;
    height: 22px;
    border-radius: 20px;
}

#skill .skill .skill-bar .skill-per
{
    /* background-color: cyan; */
    background: linear-gradient(to right,rgb(163, 11, 117),cyan);
    height: 22px;
    animation-name: bar;
    animation-duration: 3s;
    animation-iteration-count: 1;
    border-radius: 20px;
}

@keyframes bar
{
    from
    {
        width: 0%;
    }

    to
    {
        width: 100%;
    }
}










#projects #bhu
{
  
    animation-name: appear;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

}

@keyframes appear
{
    from{
        opacity: 0;
        transform: scale(0.5);
    }

    to
    {
        opacity: 1;
        transform: scale(1);
    }
}


#projects
{
    background-color: black;
    color: white;
    padding-bottom: 40px;
}

#projects .portfolio-box
{
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
}

#projects .portfolio-box img
{
    transition-duration: .5s;
    transition-timing-function: ease;
    opacity: 0.7;
}

#projects .portfolio-box:hover img
{
    transform: scale(1.1);
}

#projects .portfolio-box .portfolio-layer
{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    background: linear-gradient(rgba(0,0,0,0.1),cyan);
    /* background-color: cyan; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0.4rem;
    transform: translateY(100%);
    transition-duration: .5s;
    transition-timing-function: ease;
}

#projects .portfolio-box:hover .portfolio-layer
{
    transform: translateY(0);
}











/* #contact #me
{
  
    animation-name: appear;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

}

@keyframes appear
{
    from{
        opacity: 0;
        transform: scale(0.5);
    }

    to
    {
        opacity: 1;
        transform: scale(1);
    }
}

#contact
{
    color: white;
    background-color: rgba(0, 0, 0, 0.932); 
    padding-bottom: 50px;
}

#contact .prasa
{
    
    background: linear-gradient(to right,rgb(163, 11, 117),cyan);
    border-radius: 20px;
    
    box-shadow: 10px 10px 10px rgb(163, 11, 117);
    text-shadow: 10px 10px 29px black;
} */

/* #contact input
{
    margin-bottom: 30px;
    background-color: black;
    color: white;
}

#contact input::placeholder
{
    color: white;
}


#contact textarea::placeholder
{
    color: white;
}

#contact button
{
    background: linear-gradient(to right,rgb(163, 11, 117),cyan); 
    width: 180px;
    height: 50px;
    border-radius: 20px; 
    font-weight: bold;
    color: white;
    box-shadow: 5px 5px 10px rgb(163, 11, 117);
    border: none;

} */

/* #contact .head
{
    margin-left: 20px;
} */





 #contact #me
{
  
    animation-name: appear;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

}

@keyframes appear
{
    from{
        opacity: 0;
        transform: scale(0.5);
    }

    to
    {
        opacity: 1;
        transform: scale(1);
    }
}

#contact
{
    background-color: rgba(0, 0, 0, 0.932); 
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
}

#contact i
{
    font-size: 25px;
    color: cyan;
}



#footer
{
    /* background-color: black; */
    color: white;
    padding-bottom: 10px;
    /* background-color: rgba(0, 0, 0, 0.932);  */
    background-color: black;
}

































@media all and (max-width:576px)
{
    #Home  img
    {
        /* border: 1px solid white; */
        margin-left: 0%;
        width: 400px;
        height: 400px;
        border: none;
        margin-top: 30px;
        border: 2px solid cyan;
    }

    #Home .btn
    {
        margin-left: 2%;
    }

    .box
    {
        margin-left: 25%;
    }

    #education .bord1
    {
        text-align: justify;
    }

    #projects .portfolio-box
    {
        margin-bottom: 50px;
    }

    /* #contact h3
    {
        text-align: center;
    }

    #contact .sat
    {
        text-align: center;
        margin-top: 20px;
    }
    
    #contact .but
    {
        text-align: center;
    }

    #contact .head
    {
        margin-left: 0px;
    }
     */


   

}

/* @media all and (max-width:915px)
{
    header .fa-list
    {
        display: block;
        border: none;
        font-size: 20px;
    }

} */





.preload
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: black;
    color: white;
    position: fixed;
}

.loading
{
    border: 5px solid white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-top: 5px solid cyan;
    animation-name: loader;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin-bottom: 5px;

}

@keyframes loader
{
    from
    {
        transform: rotate(0deg);
    }

    to
    {
        transform: rotate(360deg);
    }
}